@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,500&display=swap');

#txt-area {
    display: block;
    font-family: inherit;
    margin: auto;
    width: 75%;
    min-height: 5vh;
    padding: 1rem;
    border: 2px solid;
    border-radius:0.5rem;
    max-width: 50rem;
    min-width: 20rem;
}

#output-box {
    border: 2px solid black;
    width: 75%;
    min-height: 5vh;
    margin: auto;
    padding: 2rem;
    border-radius:0.5rem;
    max-width: 50rem;
    min-width: 20rem;
}

#click-btn {
    display: block;
    font-family: inherit;
    font-size:1.1rem;
    padding: 0.5rem 1.5rem;
    background-color: #FBBF24;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    border-color: black;
}

body {
    font-family: 'Ubuntu',
        sans-serif;
    margin: 20px;
    text-align: center;
}

.header {
    margin: -20px;
    padding: 2rem;
    background-color:#FCD34D;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
}

h3 {
    margin-top: 3rem;
}

.author {
    display: block;
    text-align: center;
}

.about-box {
    margin-top: 3rem;
    margin-left: -20px;
    margin-right: -20px;
    padding: 2rem;
    background-color:#FCD34D;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
}